h1 {
  background-color: yellow;
  text-align: center;
}
 body {
   color: rgb(120,120,120);
   background-color:cornflowerblue;
 }

 #board {
   background-color:black;
   display: flex;
   flex-wrap: wrap;
   width: 400px;
   margin: auto;
 }
  
.chip {
  background-color: brown;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  margin: 2px 8px;
}